.footer{

    background:#111827;

    color:white;

    padding:60px 0 20px;

    margin-top:80px;

}

.footer-container{

    width:90%;

    max-width:1200px;

    margin:auto;

    display:grid;

    grid-template-columns:2fr 1fr 1fr;

    gap:60px;

}

.footer-brand h2{

    font-size:32px;

    margin-bottom:20px;

}

.footer-brand span{

    color:#3b82f6;

}

.footer-brand p{

    color:#d1d5db;

    line-height:1.8;

}

.footer-links h4,

.footer-contact h4{

    margin-bottom:20px;

}

.footer-links ul{

    list-style:none;

    padding:0;

}

.footer-links li{

    margin-bottom:12px;

    cursor:pointer;

    transition:.3s;

}

.footer-links li:hover{

    color:#3b82f6;

}

.footer-contact p{

    margin-bottom:12px;

    color:#d1d5db;

}

.footer hr{

    margin:40px auto 20px;

    width:90%;

    border-color:#374151;

}

.copyright{

    text-align:center;

    color:#9ca3af;

}

@media(max-width:900px){

.footer-container{

grid-template-columns:1fr;

text-align:center;

}

}